<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NLog" version="4.7.13" targetFramework="net8.0-windows7.0" />
  <package id="PdfPig" version="0.1.6" targetFramework="net8.0-windows7.0" />
  <package id="PIX.Activities" version="2.2.0" targetFramework="net8.0-windows7.0" />
  <package id="PIX.Activities.Interactive" version="2.2.0" targetFramework="net8.0-windows7.0" />
  <package id="PIX.Common" version="2.1.0" targetFramework="net8.0-windows7.0" />
  <package id="Splat" version="14.8.12" targetFramework="net8.0-windows7.0" />
  <package id="System.IO.Abstractions" version="21.1.7" targetFramework="net8.0-windows7.0" />
  <package id="Tabula" version="0.1.3" targetFramework="net8.0-windows7.0" />
  <package id="TestableIO.System.IO.Abstractions" version="21.1.7" targetFramework="net8.0-windows7.0" />
  <package id="TestableIO.System.IO.Abstractions.Wrappers" version="21.1.7" targetFramework="net8.0-windows7.0" />
  <package id="XPathParser" version="1.2.2" targetFramework="net8.0-windows7.0" />
</packages>